@page
@model FinalProject_Glamcart.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Products";
}

<h1 class="my-4 text-center">Welcome</h1>

@foreach (var item in Model.Products)
{
    <div class="row my-4">

    
        <div class="col-md-2">
            <img src="~/images/@item.ImageURL" class="img-fluid rounded" />
        </div>

    
        <div class="col-md-10">

        
            <h3>@item.Name</h3>

            <p>
                ⭐⭐⭐⭐⭐ <strong>2 reviews</strong>
            </p>
            <p class="fs-5">
                @item.ProductDescription
            </p>
            
            <a asp-page="/Reviews/Index"
            asp-route-productId="@item.ProductID"
            class="btn btn-primary btn-sm">
                Show Reviews
            </a>

        </div>
    </div>


    <hr class="my-4" />
}